*{
    font-family: Arial, Helvetica, sans-serif;
}
.cursor{
    cursor: pointer;
}
body{
    margin: 0;
}
.container_principal{
    height: 115vh;
    display: flex;
}
.area_dash{
    height: 100%;
    width: 100%;
    color: white;
    background: linear-gradient(180deg, #4B3753 0%, #4B3753 0%, #4B3753 0.01%, rgba(90, 52, 169, 0.93) 9.09%,
            #8565C9 18.18%, rgba(180, 153, 238, 0.96) 27.27%, rgba(170, 143, 225, 0.63) 39.58%,
            rgba(206, 185, 249, 0.93) 50%, rgba(151, 116, 222, 0.68) 57.29%, rgba(161, 122, 243, 0.85) 64.58%,
            rgba(167, 131, 242, 0.90) 70.31%, rgba(139, 89, 245, 0.63) 81.82%, #5A34A9 90.91%, rgba(75, 55, 83, 0.99) 100%);
}

.quarto {
    background-color: blueviolet;
}

.dash_superior{
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.bem_vindo{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.text_bemVindo1{
    font-size: 4vh;
    font-weight: bolder;
}
.text_bemVindo2{
    font-size: 3vh;
}

/*DIV CENTRAL*/
.div_central{
    height: 90vh;
    display: flex;
    justify-content: space-around;
}


/* DIV DA ESQUERDA */

.div_funcionarios{
    width: 65%;
    margin: 2vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


.div_funcionario {
    background-color: #ac8deb5d;
    display: flex;
    height: fit-content;
    border-radius: 1.5rem;
    width: 95%;
    column-gap: 2rem;
    margin: 1rem;
    color: black
}

.div_informacoes{
    width: 35%;
    padding: 1vh;
}

.div_botoes {
    width: 65%;
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

.div_botoes select {
    width: 9vw;
    height: 6vh;
    font-size: 2.5vh;
    border-radius: 0.5rem;
    background: none;
    border: black solid 1px;
}

.div_botoes select:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 1rem  #360149;
  }

.div_botoes button {
    width: 9vw;
    height: 6vh;
    font-size: 2.5vh;
    border-radius: 0.5rem;
    border: none;
    background-color: #332d5b96;
    color: #1B1641;
    font-weight: bolder;
    border: black solid 1px;
}

.div_botao1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vh;
    width: 12vw;
}

.div_botao2{
    display: flex;
    flex-direction: column;
    padding: 0.5vh;
}

.div_botao2 :active {
    box-shadow: 0 0 1rem #360149;
}

.div_botao3{
    display: flex;
    flex-direction: column;
    padding: 0.5vh;
}

.p_nome {
    font-size: 3vh;
    font-weight: bold;
}

.p_email {
    font-size: 2.5vh;
    text-decoration: underline;
}

.p_computador {
    font-size: 2vh;
}

.div_atividade {
    width: 9vw;
    height: 6vh;
    border-radius: 0.5rem;
    background: none;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DIV DA DIREITA */

.div_direita {
    background-color: #231F40;
    width: 25%;
    height: fit-content;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.div_titulo {
    font-size: 4.5vh;
}

.div_cadastro {
    width: 90%;
    padding: 1vh;
}

.div_cadastro input{
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 0.5rem;
    background-color: #fcfcfc63;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 1.5rem #ffffff4d;
  }

.div_cadastro select {
    width: 7vw;
    height: 5vh;
    border-radius: 0.5rem;
    background-color: #fcfcfc63;
    color: white;
}

.div_cadastro select:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 1rem  #ffffff4d;
  }

  option:nth-child(1), option:nth-child(2),
  option:nth-child(3),option:nth-child(4) {
    font-weight: bold;
    color: black;
  }

  .botao_cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 6vh;
    border-radius: 0.5rem;
    background-color: #fcfcfc63;
    color: white;
    font-weight: bold;
  }

  .div_paiToken{
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 0.5rem;
    background-color: #fcfcfc63;
  }

  .div_token{
    padding: 0.5rem;
  }