@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');
body {
    margin: 0;
    background: linear-gradient(180deg, #4B3753 0%, #4B3753 0%, #4B3753 0.01%, rgba(90, 52, 169, 0.93) 9.09%, #8565C9 18.18%, rgba(180, 153, 238, 0.96) 27.27%, rgba(170, 143, 225, 0.63) 39.58%, rgba(206, 185, 249, 0.93) 50%, rgba(151, 116, 222, 0.68) 57.29%, rgba(161, 122, 243, 0.85) 64.58%, rgba(167, 131, 242, 0.90) 70.31%, rgba(139, 89, 245, 0.63) 81.82%, #5A34A9 90.91%, rgba(75, 55, 83, 0.99) 100%);
    height: max-content;
    display: flex;
    flex-direction: column;
}

.header {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header .navBar{
    margin: 2%;
    margin-top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .navBar .logo{
    width: 10%;
    height: 75%;
    flex-shrink: 0;
    margin-bottom: 0;
}

.header .navBar .nome_empresa{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    font-family: Mulish;
    line-height: normal;
}

.header .navBar .link{
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 40%;
    height: 15%;
    gap: 5%; 
}

.link .links{
    color: #FFF;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
}

.header .navBar .btn_login{
    margin-left: 10%;
    display: flex;
    padding: 20px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 62px;
    border: 2px solid #E0E0E0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #e0e0e000;
}

.banner{
    height: 100vh;
    width: 100%;
}

