@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');

body {
    margin: auto;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    background: linear-gradient(180deg, #4B3753 0%, #4B3753 0%, #4B3753 0.01%, rgba(90, 52, 169, 0.93) 9.09%, #8565C9 18.18%, rgba(180, 153, 238, 0.96) 27.27%, rgba(170, 143, 225, 0.63) 39.58%, rgba(206, 185, 249, 0.93) 50%, rgba(151, 116, 222, 0.68) 57.29%, rgba(161, 122, 243, 0.85) 64.58%, rgba(167, 131, 242, 0.90) 70.31%, rgba(139, 89, 245, 0.63) 81.82%, #5A34A9 90.91%, rgba(75, 55, 83, 0.99) 100%);
    height: max-content;
    color:white;
}

@media screen and (max-width: 900px) {
    
}

.teste{
    width: 100%;
    height: 500vh;
}

.header {
    height: 20vh;
    width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
}

.parte2 li {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {

    border-bottom: 1px solid white;
    transform: scale(1.5);

}

.botao_entrar {
    border: 2px solid #E0E0E0;
    border-radius: 50px;
    box-shadow: 4px black;
    padding: 10px 30px;
    height: max-content;
    display: flex;
    align-items: center;

}

.botao_entrar:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition-duration: 1s;
}

.Texto{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 0%;
}

.Texto h2{
    margin-top: 20%;
    margin-left: 15%;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Mulish;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn_trabalhe_conosco{
    width: 48%;
    margin-left: 15%;
    height: 50px;
    border-radius: 47.5px;
    background: #a033e300;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.btn_trabalhe_conosco:hover{
    background-color: white !important;
    cursor: pointer !important;
    color: black !important;
    transition-duration: 1s !important;    
}

.imagen{
    width: 50%;
    height: 100%;
}

.imagens{
    width: 100%;
    height: 100%;
}

.banner{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.banner.Texto h2{
    font-size: 45px;
    margin-left: 20%;
    margin-bottom: 0;    
}

.banner.Texto p{
    margin-left: 20%;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%; /* 30.1px */
}

.Texto ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0;
    margin-left: 18%;
    list-style-image: url(../assets/imgs/Vector.svg);
}

.Texto ul li{
    font-size: 20px;
    margin: 1%;
}

.botao_comeca{
    width: 40%;
    height: 50px;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 47.5px;
    background: #a033e300;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.botao_comeca:hover{
    background-color: white !important;
    cursor: pointer !important;
    color: black !important;
    transition-duration: 1s !important;    
}

.banner.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.banner.imagen .imagens{
    width: 40%;
    height: 20%;
}
