* {
    font-family: Arial, Helvetica, sans-serif;
}

.cursor {
    cursor: pointer;
}

body {
    margin: 0;
}

.container_principal {
    height: 150vh;
    display: flex;
}

.area_dash {
    height: 100%;
    width: 100%;
    color: white;
    background: linear-gradient(180deg, #4B3753 0%, #4B3753 0%, #4B3753 0.01%, rgba(90, 52, 169, 0.93) 9.09%,
            #8565C9 18.18%, rgba(180, 153, 238, 0.96) 27.27%, rgba(170, 143, 225, 0.63) 39.58%,
            rgba(206, 185, 249, 0.93) 50%, rgba(151, 116, 222, 0.68) 57.29%, rgba(161, 122, 243, 0.85) 64.58%,
            rgba(167, 131, 242, 0.90) 70.31%, rgba(139, 89, 245, 0.63) 81.82%, #5A34A9 90.91%, rgba(75, 55, 83, 0.99) 100%);
}

.segundo {
    background-color: blueviolet;
}

.card_monitoramento {
    width: 91%;
    height: 90vh;
    background-color: rgba(36, 36, 36, 1);
    margin: 3rem;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -39%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


.dash_superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bem_vindo {

    flex: 1;
}

.bem_vindo_botoes {
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
}

.bem_vindo_botoes button {
    margin-right: 10px;
    width: 160px;
    height: 40px;
    background-color: #333;
    color: white;
    font-size: 17px;
}

.bem_vindo {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.text_bemVindo1 {
    font-size: 4vh;
    font-weight: bolder;
}

.text_bemVindo2 {
    font-size: 3vh;
}


.area_superior {
    display: flex;
    width: 100%;
    height: 100%;
}

.area_superior_esquerda {
    flex: 1;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.area_superior_direita {
    flex: 1;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.texto_ajuda {
    font-size: 15px;

}

.botoes_filtro {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botoes_filtro button {

    width: 200px;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #333;
    color: white;

}

.filtros_opçoes {
    height: 220px;
    background-color: #333;
    color: white;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to top left, transparent, blueviolet, blueviolet, transparent) 1;

}

.filtros_componentes {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    
}

.lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}

.lista li {
    width: calc(50% - 50px); /* 10px de margem entre os itens */
    margin: auto;
    box-sizing: border-box;
}
.lista button {
    height: 25px;
    font-size: 16px;
    background-color: #333;
    color: white
}
#limpar{
    color: red;
}
#continuar{
    color: rgb(0, 255, 0);
}
.lista input {
    width: 21px;
    height: 21px;
    border: 2px solid #fff;
}
.select-btn {
    margin-top: 15px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.list-items {
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-btn.open~.list-items {
    display: block;
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}