@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');

body {
    margin: auto;
    font-family: 'Mulish', sans-serif;
    background-color: rgb(156, 106, 156);
    color: white;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
}

.parte2 li {
    display: flex;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {

    border-bottom: 1px solid white;
    transform: scale(1.5);

}

.botao_entrar {
    border: 2px solid #E0E0E0;
    border-radius: 50px;
    box-shadow: 4px black;
    padding: 10px 30px;
    height:fit-content;
    display: flex;
    align-items: center;

}

.botao_entrar:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition-duration: 1s;
}

.blocos img {
    border-radius: 25px;
}

.elemento {
    border-radius: 20px;
    background: conic-gradient(from 138deg at 50.00% 50.00%, #9C7DDE 0deg, #7450CF 41.25000089406967deg, #9D81FF 110.62499642372131deg, #4528B9 148.1250035762787deg, #6653BB 170.6250035762787deg, #AE85D7 211.87500715255737deg, #584DB1 258.75deg, #7D70E4 258.7860059738159deg, #3C2CE3 310.08514165878296deg, #4846A6 360deg), conic-gradient(from 138deg at 50.00% 50.00%, #9C7DDE 0deg, #7450CF 41.25000089406967deg, #9D81FF 110.62499642372131deg, #4528B9 148.1250035762787deg, #6653BB 170.6250035762787deg, #AE85D7 211.87500715255737deg, #584DB1 258.75deg, #7D70E4 258.7860059738159deg, #3C2CE3 310.08514165878296deg, #4846A6 360deg);
    text-align: center;
    width:fit-content;
    height:130px;
    padding:4px 25px;
}
.elemento h1{
    font-weight: 600;
}
.elemento p{
    font-size:12px;
}
.blocos{
    display:flex;
    justify-content:center;

}
.bloco_imagens{
    padding-top:20px;
    width:30%;
    padding-right:4%;
    /* background-color:red; */
}

.imagem1{
    width:100%;
}
.imagem1 img{
    width:100%;
    height:100%;
}
.segunda_parte{
    display:flex;
}

.segunda_parte img{
    width:100%;
    height: 100%;
    padding-left:5px;
}
span{
    font-weight:600;
    font-size:27px;
}
.texto_menor{
    font-size:15px;
    border-bottom:1px solid #DCDCDC;
    padding:10px;
}
.txt{
    font-size:17px;
}
.bloco_minitexto{
    display:flex;
    padding:6px;
}
.texto{
    padding-left:15px;
}
.texto p{
    border:none;
}
#btn_join{
    border:none;
    color:white;
    border-radius:50px;
    background-color: #A033E3;;
    padding:15px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#btn_join:hover{
    cursor:pointer;
}
.bloco_texto{
    width:30%;
}
.numeros{
    display:flex;
    justify-content:space-evenly;
    padding-top:3%;
}
.numeros span{
    font-size:130%;
}
.negocios{
    text-align:center;
    padding-top:5%;
}
.missao_empresa{
    justify-content:flex;
    text-align:center;
}
.valores_um{
    display:flex;
    justify-content:space-evenly;
}
.valores_dois{
    display:flex;
    justify-content:space-evenly;
}
.missao_empresa span{
    font-size:130%;
}