@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');

body {
    margin: auto;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    background: linear-gradient(180deg, #4B3753 0%, #4B3753 0%, #4B3753 0.01%, rgba(90, 52, 169, 0.93) 9.09%, #8565C9 18.18%, rgba(180, 153, 238, 0.96) 27.27%, rgba(170, 143, 225, 0.63) 39.58%, rgba(206, 185, 249, 0.93) 50%, rgba(151, 116, 222, 0.68) 57.29%, rgba(161, 122, 243, 0.85) 64.58%, rgba(167, 131, 242, 0.90) 70.31%, rgba(139, 89, 245, 0.63) 81.82%, #5A34A9 90.91%, rgba(75, 55, 83, 0.99) 100%);
    height: max-content;
    color:white;
}
@media screen and (max-width: 900px) {

}
.navBar {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
}

.parte2 li {
    display: flex;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {

    border-bottom: 1px solid white;
    transform: scale(1.5);

}

.botao_entrar {
    border: 2px solid #E0E0E0;
    border-radius: 50px;
    box-shadow: 4px black;
    padding: 10px 30px;
    height:fit-content;
    display: flex;
    align-items: center;

}

.botao_entrar:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition-duration: 1s;
}

.blocos img {
    border-radius: 25px;
}

.elemento {
    border-radius: 20px;
    background: conic-gradient(from 138deg at 50.00% 50.00%, #9C7DDE 0deg, #7450CF 41.25000089406967deg, #9D81FF 110.62499642372131deg, #4528B9 148.1250035762787deg, #6653BB 170.6250035762787deg, #AE85D7 211.87500715255737deg, #584DB1 258.75deg, #7D70E4 258.7860059738159deg, #3C2CE3 310.08514165878296deg, #4846A6 360deg), conic-gradient(from 138deg at 50.00% 50.00%, #9C7DDE 0deg, #7450CF 41.25000089406967deg, #9D81FF 110.62499642372131deg, #4528B9 148.1250035762787deg, #6653BB 170.6250035762787deg, #AE85D7 211.87500715255737deg, #584DB1 258.75deg, #7D70E4 258.7860059738159deg, #3C2CE3 310.08514165878296deg, #4846A6 360deg);
    text-align: center;
    width: fit-content;
    height:130px;
    padding:4px 25px;
}
.elemento h1{
    font-weight: 600;
}
.elemento p{
    font-size:12px;
}
.blocos{
    display:flex;
    justify-content:center;

}
.bloco_imagens{
    padding-top:20px;
    width:30%;
    padding-right:4%;
    /* background-color:red; */
}

.imagem1{
    width:100%;
}
.imagem1 img{
    width:100%;
    height:100%;
}
.segunda_parte{
    display:flex;
}

.segunda_parte img{
    width:100%;
    height: 100%;
    padding-left:5px;
}
span{
    font-weight:600;
    font-size:27px;
}
.texto_menor{
    font-size:15px;
    border-bottom:1px solid #DCDCDC;
    padding:10px;
}
.txt{
    font-size:17px;
}
.bloco_minitexto{
    display:flex;
    padding:6px;
}
.texto{
    padding-left:15px;
}
.texto p{
    border:none;
}
.btn_join{
    border:none;
    color:white;
    border-radius:50px;
    background-color: #A033E3;;
    padding:15px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn_join:hover{
    cursor:pointer;
}
.bloco_texto{
    width:30%;
}
.numeros{
    display:flex;
    justify-content:space-evenly;
    padding-top:3%;
}
.numeros span{
    font-size:130%;
}
.negocios{
    text-align:center;
    padding:5%;
}
#valores_empresa{
    justify-content:flex;
    text-align:center;
}
.valores_um{
    display:flex;
    justify-content:space-evenly;
}
.valores_dois{
    display:flex;
    justify-content:space-evenly;
}
#valores_empresa span{
    font-size:130%;
}
.missao_frases{
    display:flex;
}
.ticks{
    height:2%;
    padding-top:4%;
    padding-right: 3%;
}

.missao_empresa{
    width:30%;
}

.missao{
    display:flex;
    justify-content:center;
    padding:3%;
    /* width:30%; */
}

.img_missao{
    width:15%;
    height:10%;
    border-radius:30px;
    padding:10px;
}

.card{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:20%;
    padding:3%;
}

.card img{
    width:20%;
    height:40%;
}

.card:hover{
    background-color:#FFF;
    border-radius:20px;
    color:black;
    width:25%;
}

.time_um{
    display:flex;
    justify-content:space-evenly;
}

.time_dois{
    display:flex;
    justify-content:space-evenly;
}

.membros{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.membros img{
    width:50%;
    height:70%;
    padding:4%;
    border-radius:50px;
}

.membros span{
    font-size: 20px;
}

#time_empresa{
background: url(../assets/imgs/fundo.png), lightgray 50% / cover no-repeat;
background-blend-mode: soft-light;
background-color:rgb(194, 63, 194);
}

.inicio{
    display:flex;
    justify-content:space-between;
    padding:3%;
}

.team{
    background-color:white;
    color:black;
    height:20%;
}
.investidores{
    text-align: center;
    margin-top:35px;
}
.card_investidor{
    background-color:#F6F6F6;
    border-radius:20px;
    color:#808080;
    width:30%;
    padding:25px;
    text-align: left;

}
.investidor_um{
    display:flex;
    justify-content:space-evenly;
    padding:30px;
}
.investidor_dois{
    display:flex;
    justify-content:space-evenly;
    padding:30px;
    
}
.footer{
    padding:20px;
    border-top: 1px solid white;
    border-bottom:1px solid white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.recursos{
    display:flex;
    border-right:1px solid white;
    width:35%;
}
.footer span{
    font-size:20px;
}
.recursos_dois{
    padding-left:10%;
}
.contact_us{
    background-color:#000;
    border-radius:20px;
    width:35%;

}
.contato{
    border-right:1px solid white;
}

.popular{
    background:linear-gradient(rgb(150, 150, 243),rgb(78, 15, 194),rgb(207, 0, 86));
    border-radius:20px;
    width:50%;
    padding:5px;
    text-align:center;
}
.contato .cnt{
    font-size:25px;
}
.contato .entre_contato{
    border-radius:20px;
    background-color:#A033E3;
    border:none;
    color:white;
    width:70%;
    height:30%;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    /* display:flex;
    width:fit-content;
    padding:0px 0px 20px 20px; */
}
.popular:hover{
    cursor:pointer;
    width:57%;
    height:15%;
}
.contato .entre_contato:hover{
    cursor:pointer;
}
.contact_us{
    display:flex;
    padding:50px;
}
.contato{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:10px;
    /* justify-content:center;
    align-items:center; */
}
.info{
    width:50%;
    text-align:center;
    padding-left:6%;
}
.popular, .cnt, .entre_contato{
    padding:10px;
    text-align:center;
}
.info .nf{
    display:flex;
}
.nf .icon_vetor{
    width:8%;
    height:5%;
    padding-right:10px;
}
.espaco{
    height:200px;
}